.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 27, 59);
}
.links {
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(35, 156, 59);
}